body {
    margin: 0;
    font-family: "Courier New";
    font-weight: bold;
    /*font-family: "PT Sans", sans-serif;*/
    /*font-family: Arial, sans-serif;*/
    color: #424549;
}

textarea, input {
    font-family: "Courier New";
    color: #525559;
    /*font-weight: bold;*/
    /*font-family: "PT Sans", sans-serif;*/
    /*font-family: Arial, sans-serif;*/
}

* {
    box-sizing: border-box;
    outline: none;
}

h1 {
    font-size: 2.5em;
    margin-top: 0;
    color: #626569;
}

.container {
    padding: calc(20px + 3vmin);
}

.tags-areas {
    display: flex;
}

.tags-buttons {
    margin-bottom: calc(20px + 1vmin);
}

.tags-button {
    display: inline-flex;
    justify-content: center;
    margin-right: calc(10px + 1vmin - 5px);
    align-items: center;
    background: #d2d5d9;
    transition: .2s;
    padding: calc(5px + .5vmin) calc(10px + 1vmin);
    font-size: 30px;
    /*width: 50px;*/
    height: 50px;
    cursor: pointer;
    color: #626569;
}

.tags-button:hover {
    background: #e2e5e9;
}


.tags-button.active {
    outline: 3px solid dodgerblue;
}

.tags-count {
    color: dodgerblue;
    font-size: 2em;
    float: right;
}

.tags-area {
    border: 3px solid #d2d5d9;
    display: block;
    min-height: 300px;
    padding: calc(10px + 1vmin);
    flex: 50% 1 1;
    font-size: 2em;
    font-weight: 600;
    margin-right: calc(10px + 3vmin);
    resize: none;
}

.tags-area:last-child {
    margin-right: 0;
}