@import "_vars";
//.te-buttons {
//    margin-bottom: calc(20px + 1vmin);
//}

.te-button {
    display: inline-flex;
    font-family: "Courier New", monospace;
    font-weight: bold;
    justify-content: center;
    margin-right: .8em;
    margin-top: .7em;
    align-items: center;
    background: #d2d5d9;
    padding: .4em .8em;
    font-size: 1.4em;
    color: $grey-d;
    /*width: 50px;*/
    //height: 50px;
    border: none;
    border-bottom: 3px solid $grey-m;
    border-right: 3px solid $grey-m;
    transition: .25s;
    cursor: pointer;
}

.te-button:hover {
    background: #bad5f3;
}

.te-button.active {
    outline: 3px solid dodgerblue;
}
