@import "_vars";

.te-editor {
    font-size: 17px;

    @media (max-width: 760px) {
        font-size: 15px;
    }

    @media (max-width: 550px) {
        font-size: 14px;
    }
}

.te-editor__block {
    margin-bottom: 1.5em;

    &:after {
        content: ' ';
        clear: both;
        height: 0;
        display: table;
    }
}

.te-editor__control-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tags-areas {
    display: flex;
}

.te-editor__count {
    color: $blue;
    font-size: 1.4em;
    float: right;
}

.te-editor__label-list {
    margin: 0;
    padding: 0;
    font-size: 1.4em;
}
//
//.tags-area {
//    border: 3px solid $grey-l;
//    display: block;
//    min-height: 300px;
//    padding: calc(10px + 1vmin);
//    flex: 50% 1 1;
//    font-size: 2em;
//    font-weight: 600;
//    margin-right: calc(10px + 3vmin);
//    resize: none;
//}
//
//.tags-area:last-child {
//    margin-right: 0;
//}
